@import "../../../Style//colors.scss";
@import "../../../Style/shortcuts.scss";




.userDetails {
    transition: $noramlTransition;
    height: 100vh;

    .row {
        display: flex;
        justify-content: space-evenly;

        .userData {
            background-color: $white;
            background-color: $primaryColor;
            border: 10px solid lighten($primaryColor, 10);
            padding: 4rem 1rem;
            border-radius: calc($borderRadius * 3);
            margin-top: 10px;
            width: 400px;

            .userData_value {
                margin: 1rem 0;
                display: flex;
                flex-wrap: no-wrap;

                .title {
                    background-color: $white;
                    color: darken($primaryColor, 10);
                    border: 4px solid lighten($primaryColor, 10);


                    padding: 5px 10px;
                    border-radius: $borderRadius;
                    margin-right: 10px;
                    width: fit-content;
                }

                .value {
                    margin-top: 5px;
                }
            }
        }

        .userData_Update {
            form {

                
            margin-top: 2rem;
            @include dFlex;
            }

        }

    }


}

.userfalse {

    background-color: $primaryColorDark;
    color: $white;

    .row {

        .userData {
            background-color: $secoundryColorDark;
            border: 10px solid lighten($secoundryColorDark, 10);

            .userData_value {

                .title {
                    background-color: $secoundryColor;
                    border: 4px solid lighten($secoundryColor, 10);

                    color: darken($secoundryColor, 30);

                }

                .value {
                    color: $white;

                }
            }
        }

        .userData_Update {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }


}