@import "../../../Style/colors.scss";
@import"../../../Style/shortcuts.scss";

// @import "../../../Style/";



.formCard{

    border: 10px solid lighten($primaryColor, 5%);
    background-color: $white;
    border-radius: calc($borderRadius * 3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

// .bookCard{
//     background-color: red;
// }